<div class="modal-header bg-primary text-white">
    <h6>Mensaje 401</h6>
    <button type="button" class="close text-white" aria-label="Close" (click)="activeModal.close('Close click')">
      <span aria-hidden="true" style="color: black;">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      Mensaje (401) Su sesión ha expirado
  </div>
  <div class="modal-footer">
    <button id="cancel" name="cancel" 
    class="btn btn-primary" type="button" value="Aceptar"
    (click)="aceptar()">Aceptar</button>
  </div>