<div class="modal-header bg-{{classModal}} text-white">
    <p class="modal-title" id="modal-basic-title"> {{modal.titulo}}</p>
</div>

<div class="modal-body">
    <div [innerHTML]="modal.mensaje"></div>
    <!-- {{modal.mensaje}} -->
    <a class="d-block" href="{{href}}">{{link}}</a>
</div>
<div class="modal-footer">
    <button class="btn btn-{{classModal}}" type="button" (click)="aceptar()">{{texto1}}</button>
    <button *ngIf="tipoModal != 1 && tipoModal != 6" id="cancel" name="cancel" class="btn btn-outline-secondary"
        type="button" (click)="cerrar()">{{texto2}}</button>
</div>