<div class="modal-header bg-primary text-white">
    <p class="modal-title" id="modal-basic-title"> {{modal.titulo}}</p>
  
  </div>
  <div class="modal-body">
    {{modal.mensaje}}
  </div>
  <div class="modal-footer">
    <button *ngIf="nameTab != '' && nameTab != 'DeclaRectiSusti' && nameTab != 'ImportarArchivoSocios'" type="button"
      class="btn btn-outline-secondary" (click)="cancelar()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="aceptar()">Aceptar</button>
  </div>