<router-outlet></router-outlet>
<ngx-spinner id="ngx-spinner" bdColor="rgba(255, 255, 255, 0.6)" size="default" color="#0d88bc"
             type="ball-square-spin" [fullScreen]="true"></ngx-spinner>
