<div class="container-fluid">
  <form [formGroup]="form">
    <div class="card">
      <div class="card-header header-primary">Criterios de b&uacute;squeda
        (estimado  usuario al menos escoja un criterio de b&uacute;squeda)
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-10">

            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group row">
                  <label for="numDocIde" class="col-sm-6 col-form-label"
                    >N&uacute;mero de RUC propietario:</label
                  >
                  <div class="col-sm-6">
                    <input
                      formControlName="numDocIde"
                      type="text"
                      class="form-control"
                      id="numDocIde"
                      placeholder="RUC del propietario"
                      simpleCharacteresAndNumber="noSpecialChars"
                      numbersOnly
                      maxlength="11"
                      [class.is-invalid]="
                        form.controls.numDocIde.touched &&
                        form.controls.numDocIde.invalid
                      "
                    />
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="form-group row">
                  <label for="tipoDoc" class="col-sm-6 col-form-label"
                    >Dependencia:</label
                  >
                  <div class="col-sm-6">
                    <select
                      formControlName="dependencia"
                      class="custom-select"
                      id="dependencia"

                    >
                      <option selected value="">Seleccionar</option>
                      <option

                      >

                      </option>
                    </select>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group row">
                  <label for="tipoDoc" class="col-sm-6 col-form-label"
                    >Tipo doc. identidad inquilino:</label
                  >
                  <div class="col-sm-6">
                    <select
                      formControlName="codTipDocArrendatario"
                      class="custom-select"
                      id="tipoDoc"
                      [class.is-invalid]="
                        form.controls.codTipDocArrendatario.touched &&
                        form.controls.codTipDocArrendatario.invalid
                      "
                    >
                      <option selected value="">Tipo de Documento</option>
                      <option
                        [value]="item.codParam"
                        *ngFor="let item of lstTipDocIdentidad"
                      >
                        {{ item.codParam }}-{{ item.desParam }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="form-group row">
                  <label for="doc" class="col-sm-6 col-form-label"
                    >N&deg; doc. identidad inquilino:</label
                  >
                  <div class="col-sm-6">
                    <input
                      formControlName="numDocArrendatario"
                      type="text"
                      class="form-control"
                      id="doc"
                      placeholder="Documento"
                      [simpleCharacteresAndNumber]="simpleCharacteresAndNumber"
                      [maxlength]="numDocArrendatarioMaxlength"
                      [class.is-invalid]="
                        form.controls.numDocArrendatario.touched &&
                        form.controls.numDocArrendatario.invalid
                      "
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group row">
                  <label for="tipoDoc" class="col-sm-6 col-form-label"
                    >Tipo doc. identid. subarrend.:</label
                  >
                  <div class="col-sm-6">
                    <select
                      formControlName="codTipDocIdenArrendatario"
                      class="custom-select"
                      id="codTipDocIdenArrendatario"
                    >
                      <option selected value="">Seleccionar</option>
                      <option

                      >

                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="form-group row">
                  <label for="doc" class="col-sm-6 col-form-label"
                    >N° documento subarrendador:</label
                  >
                  <div class="col-sm-6">
                    <input
                      formControlName="numDocumentoSubarrendador"
                      type="text"
                      class="form-control"
                      id="doc"
                      placeholder="Documento"


                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col-12 col-md-6">
                <div class="form-group row">
                  <label for="tipoDoc" class="col-sm-6 col-form-label"
                    >Tipo de Actividad:</label
                  >
                  <div class="col-sm-6">
                    <select
                      formControlName="tipoActividad"
                      class="custom-select"
                      id="tipoActividad"
                    >
                      <option selected value="">Seleccionar</option>
                      <option
                      >
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="form-group row">
                  <label for="tipoDoc" class="col-sm-6 col-form-label"
                    >Tipo de Bien:</label
                  >
                  <div class="col-sm-6">
                    <select
                      formControlName="tipoBien"
                      class="custom-select"
                      id="tipoBien"
                    >
                      <option selected value="">Seleccionar</option>
                      <option
                      >
                      </option>
                    </select>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-12 col-md-6">
                <div class="form-group row">
                  <label for="tipoDoc" class="col-sm-6 col-form-label"
                    >Estado de la declaraci&oacute;n
                  </label>
                  <div class="col-sm-6">
                    <select
                      class="custom-select custom-select-sm"
                      formControlName="codEstadoDeclaInformativa"
                    >
                      <option selected value="">Todos los estados</option>
                      <option
                        [value]="item.codParam"
                        *ngFor="let item of lstIndEstadoDecla"
                      >
                        {{ item.codParam }}-{{ item.desParam }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="form-group row">
                  <label for="tipoDoc" class="col-sm-6 col-form-label"
                    >Contratos dados de baja:</label
                  >
                  <div class="col-sm-6">
                    <select
                      formControlName="motivoContratoModificado"
                      class="custom-select"
                      id="motivoContratoModificado"
                    >
                      <option selected value="">Seleccionar</option>
                      <option

                      >

                      </option>
                    </select>
                  </div>
                </div>
              </div>

            </div>



            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-6 col-form-label"
                    >Fecha de generaci&oacute;n desde:</label
                  >
                  <div class="col-sm-6">
                    <div class="input-group">
                      <input
                        class="form-control form-control-sm"
                        ngbDatepicker
                        #b="ngbDatepicker"
                        placeholder="DD/MM/YYYY"
                        formControlName="fecDeclaInformativaIni"
                        [class.is-invalid]="
                          form.controls.fecDeclaInformativaIni.touched &&
                          form.controls.fecDeclaInformativaIni.invalid
                        "
                      />
                      <div class="input-group-append">
                        <button
                          type="button"
                          class="form-control form-control-sm"
                          (click)="b.toggle()"
                        >
                          <i class="fa fa-calendar"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-12 col-md-6">
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-6 col-form-label"
                    >Fecha de generaci&oacute;n hasta:</label
                  >
                  <div class="col-sm-6">
                    <div class="input-group">
                      <input
                        class="form-control form-control-sm"
                        ngbDatepicker
                        #a="ngbDatepicker"
                        placeholder="DD/MM/YYYY"
                        formControlName="fecDeclaInformativaFin"
                        [minDate]="fecDeclaInformativaFinMin"
                        [maxDate]="fecDeclaInformativaFinMax"
                        [class.is-invalid]="
                          form.controls.fecDeclaInformativaFin.touched &&
                          form.controls.fecDeclaInformativaFin.invalid
                        "
                      />
                      <div class="input-group-append">
                        <button
                          type="button"
                          class="form-control form-control-sm"
                          (click)="a.toggle()"
                        >
                          <i class="fa fa-calendar"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>

          <div class="col-12 col-sm-12 col-md-2">
            <div class="row">
              <div class="col-6 col-md-12 mb-md-3">
                <button
                  [disabled]="disabledBuscar()"
                  (click)="buscar()"
                  type="button"
                  class="btn btn-primary w-100"
                >
                  BUSCAR
                </button>
              </div>

              <div class="col-6 col-md-12">
                <button
                  (click)="limpiar()"
                  type="button"
                  class="btn btn-primary w-100"
                >
                  LIMPIAR
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <br />
  <div class="card">
    <div class="card-header header-resultado">
      Resultado de la b&uacute;squeda:
      <span class="text-danger">{{ contribuyente }}</span>
      <button
        [disabled]="arrayContratos.length <= 0"
        type="button"
        class="btn btn-primary-outline btn-light header-icon"
        (click)="exportPDF()"
      >
        <i class="fa fa-print"></i>
      </button>
      <button
        [disabled]="arrayContratos.length <= 0"
        type="button"
        class="btn btn-primary-outline btn-light header-icon"
        (click)="exportExcel()"
      >
        <i class="fa fa-download"></i>
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive-sm">
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="table table-hover"
        >
          <thead>
            <tr class="text-left">
              <th>N&uacute;mero Declaraci&oacute;n Informativa</th>
              <th>Fecha de generaci&oacute;n</th>
              <th>Datos del Propietario</th>
              <th>Datos del Inquilino</th>
              <!-- <th>Tipo de documento</th>
              <th>Doc. Iden. Inquilino</th>
              <th>Nombres y Apellidos/ Raz&oacute;n Social</th> -->
              <th>Estado declarac.</th>
              <th class="none"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of arrayContratos; index as i">
              <td class="text-left align-middle">
                <a
                  class="a"
                  (click)="descargarPDF($event, item.numDeclaInformativa)"
                  ngbTooltip="Click para descargar Resumen de Contrato"
                >
                  {{ padLeft(item.numDeclaInformativa, 0, 8) }}
                </a>
              </td>
              <td class="text-center align-middle">
                {{ formatDate(item.fecDeclaInformativa, "DD/MM/YYYY") || "--" }}
              </td>
              <td class="text-center align-middle">

              </td>
              <td class="text-left align-middle">

              </td>
              <!-- <td class="text-center align-middle">
                {{ item.arrendatario.desTipDocIde }}
              </td>
              <td class="text-center align-middle">
                {{ item.arrendatario.numDocIde }}
              </td>
              <td class="text-left align-middle">
                {{ item.arrendatario.nomCompleto }}
              </td> -->
              <td class="text-center align-middle">
                {{ item.desEstadoDeclaInformativa }}
              </td>
              <td style="width: 100%" class="detalles">
                <div class="detalles no-gutter">
                  <div class="row no-gutter">
                    <div class="col-sm-3 text-left">
                      <label class="form-control-sm font-weight-bold"
                        >Tipo de Contrato:</label
                      >
                    </div>
                    <div class="col-sm-3 text-left">
                      <label class="form-control-sm">{{
                        item.desTipoContrato || "--"
                      }}</label>
                    </div>
                    <div class="col-sm-3 text-left">
                      <label class="form-control-sm font-weight-bold"
                        >Tipo de Bien:</label
                      >
                    </div>
                    <div class="col-sm-3 text-left">
                      <label class="form-control-sm">{{
                        item.bienAlquilado.desTipoBien || "--"
                      }}</label>
                    </div>
                    <div class="col-sm-3 text-left">
                      <label class="form-control-sm font-weight-bold"
                        >Forma de Contrato:</label
                      >
                    </div>
                    <div class="col-sm-3 text-left">
                      <label class="form-control-sm">{{
                        item.desFormaContrato || "--"
                      }}</label>
                    </div>
                    <div class="col-sm-3 text-left">
                      <label class="form-control-sm font-weight-bold">{{
                        item.bienAlquilado.codTipoBien === "02"
                          ? "Tipo de Predio:"
                          : "Tipo de Mueble:"
                      }}</label>
                    </div>
                    <div class="col-sm-3 text-left">
                      <label class="form-control-sm">{{
                        item.bienAlquilado.codTipoBien === "02"
                          ? item.bienAlquilado.inmueble.desTipoPredio
                          : item.bienAlquilado.mueble.desTipoMueble || "--"
                      }}</label>
                    </div>
                    <div class="col-sm-3 text-left">
                      <label class="form-control-sm font-weight-bold"
                        >Vigencia de Contrato:</label
                      >
                    </div>
                    <div class="col-sm-3 text-left">
                      <label class="form-control-sm">
                        {{
                          formatDate(item.fecIniContrato, "DD/MM/YYYY") || "--"
                        }}
                        -
                        {{
                          formatDate(item.fecFinContrato, "DD/MM/YYYY") || "--"
                        }}</label
                      >
                    </div>
                    <div class="col-sm-3 text-left">
                      <label class="form-control-sm font-weight-bold"
                        >Partida Registral:</label
                      >
                    </div>
                    <div class="col-sm-3 text-left">
                      <label class="form-control-sm">{{
                        item.bienAlquilado.codTipoBien === "02"
                          ? item.bienAlquilado.inmueble.numPartidaRegistral
                          : item.bienAlquilado.mueble.numPartidaRegistral ||
                            "--"
                      }}</label>
                    </div>
                    <div class="col-sm-3 text-left">
                      <label class="form-control-sm font-weight-bold"
                        >Moneda de Alquiler:</label
                      >
                    </div>
                    <div class="col-sm-3 text-left">
                      <label class="form-control-sm">{{
                        item.desTipoMoneda
                      }}</label>
                    </div>
                    <div class="col-sm-3 text-left">
                      <label class="form-control-sm font-weight-bold"
                        >Monto de Alquiler:</label
                      >
                    </div>
                    <div class="col-sm-3 text-left">
                      <label class="form-control-sm">{{
                        item.mtoAlquiler | number: "1.2-2"
                      }}</label>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
