.card{border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0px 2px 3px 2px #999;
    -webkit-box-shadow: 0px 2px 3px 2px #999;
    -moz-box-shadow: 0px 2px 3px 2px #999;
}

.btn-op {
    color: rgb(200, 35, 51); padding: 2px;
}

.header-primary {
    background: #007cb7;
    color: #ffffff;
}

.container-fluid {
    padding-top: 1rem;
}

.col-form-label {
    font-weight: 600;
}

.d-flex {
    flex-direction: column;
}

.header-resultado {
    background: #ffffff;
    font-weight: bold;
}

.button-toggled {
    font-size: 24px;
}

.detalles {
    background: #eeeeeeb9;
    width: 100%;
}

.header-detalle {
    font-weight: bold;
}

.header-icon {
    float: right;
    color: #007cb7;
    font-size: 24px;
}

.no-gutter.row,
.no-gutter.container,
.no-gutter.container-fluid{
  margin-left: 0;
  margin-right: 0;
}

.no-gutter>[class^="col-"]{
  padding-left: 0;
  padding-right: 0;
}
 